<body>

<h1>Welcome to Jingle Service!</h1>
<h2>Please type your search bellow.</h2>

<form action="/artists">
    Band name: <input type="text" name="name"><br>
    <input type="submit" value="Submit">
</form>

</body>