# Test Classes
/c:mpdUnitTest.tests.MaximumTimeEvaluatorTest
/c:mpdUnitTest.tests.ExpectedExceptionEvaluatorTest
/c:mpdUnitTest.tests.ReturnsEvaluatorTest

# Viewers
/v:mpdUnitTest.viewers.GuiJTableTestResultViewer
/v:mpdUnitTest.viewers.GuiJListTestResultViewer
/v:mpdUnitTest.viewers.XmlTestResultViewer

# Evaluators
/e:mpdUnitTest.evaluators.ExpectedExceptionEvaluator
/e:mpdUnitTest.evaluators.MaximumTimeEvaluator
/e:mpdUnitTest.evaluators.ReturnsEvaluator