<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MinesweeperForum.Properties.Settings.MSF_ForumConnectionString"
            connectionString="Data Source=DRAGAOZAO\SQLEXPRESS;Initial Catalog=MSF_Forum;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>